<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../static/styles/acc.css"> -->
    <title>Accounts</title>
</head>
<body>
    <h1>ONLINE TEST MANAGEMENT</h1>
    
    <button onclick="window.history.back()">Back</button>

    <h2>ACCOUNTS</h2>

    <div>
        <button>Show All</button>
        <button>Show Students</button>
        <button>Show Teachers</button>
    </div>

    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.type }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>