<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles/login.css"/>
    <title>Online Test Management</title>
  </head>
  <body>
    <div id="SignInPage" class="container">
      
      <h1>ONLINE TEST MANAGEMENT</h1>
      <br>
      <a href="/login" class="button">Log In</a>
      <a href="/signup" class="button">Sign Up</a>
    
    </div>
    
    <script src="script.py"></script>
  </body>
</html>
