<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="login.css" />
    <title>SignUp/LogIn</title>
  </head>
  <body>
    <div id="SignInPage" class="container">
      
      <h1>ONLINE TEST MANAGEMENT</h1>

      <input type="text" id="id" placeholder="ID" autocomplete="off"/>
      <br />
      <input type="text" id="password" placeholder="PASSWORD" autocomplete="off"/>
      <br />
      <button id="Student-btn" onclick = "window.location.href = 'home.html'">Sign In As Student </button>
      <br />
      <button id="Teacher-btn" onclick = "window.location.href = 'home.html'">Sign In as Teacher</button>
      <br />
    
    </div>
    
    <script src="script.py"></script>
  </body>
</html>
