<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles/login.css"/>
    <title>Log In</title>
  </head>
  <body>
    <div id="SignInPage" class="container">
      
      <h1>ONLINE TEST MANAGEMENT</h1>

      <form>
        <input type="text" name="username" placeholder="USERNAME" autocomplete="off" required>
        <br>
        <input type="password" name="password" placeholder="PASSWORD" autocomplete="off" required>
        <br>
        <select name="type" required>
          <option value="student">Student</option>
          <option value="teacher">Teacher</option>
        </select>
        <br>
        <button type="submit">Log In</button>
        <a href="/">Or sign up here</a>
      </form>
    
    </div>
    
    <script src="script.py"></script>
  </body>
</html>
