<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles/login.css"/>
    <title>Log In</title>
  </head>
  <body>
    <div id="SignInPage" class="container">
      
      <h1>ONLINE TEST MANAGEMENT</h1>

      {% if message %}
        <p>{{message}}</p>
      {% endif %}

      <form method="POST" action="/login">
        <input type="text" name="username" placeholder="USERNAME" autocomplete="off" required>
        <br>
        <input type="password" name="password" placeholder="PASSWORD" autocomplete="off" required>
        <br>
        <button type="submit">Log In</button>
        <a href="/signup">Or sign up here</a>
      </form>
    
    </div>
    
    <script src="script.py"></script>
  </body>
</html>
