<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../static/styles/home.css"> -->
    <title>Student Home</title>
</head>
<body>
    <h1>ONLINE TEST MANAGEMENT</h1>

    <div>
        <button onclick="location.href='/'">Log out</button>
        <button onclick="location.href='/home/students/accounts'">Accounts</button>
    </div>

    <h2>TESTS</h2>

    <ul>
        {% for test in tests %}
        <li>
            <h3>{{test.name}}</h3>
            <ul>
                <p>Your grade: --/--</p>
                <p>Created by: {{test.creator}}</p>
                <p>0 students have taken this test.</p>
                <div>
                    <button onclick="location.href='/tests/take?id={{ test.id }}&student_id={{ student_id }}'">Take Test</button>
                </div>
            </ul>
        </li>
        {% else %}
        {% if tests|length == 0 %}
            <p>No tests to display.</p>
        {% endif %}
        {% endfor %}
    </ul>

</body>
</html>