<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../static/styles/home.css"> -->
    <title>Student Home</title>
</head>
<body>
    <h1>ONLINE TEST MANAGEMENT</h1>

    <div>
        <button>All Accounts</button>
        <button>Log out</button>
    </div>

    <h2>TESTS</h2>

    <ul>
        <li>
            <h3>Test name</h3>
            <ul>
                <p>Your grade: --/--</p>
                <p>Created by: teachername</p>
                <p>0 students have taken this test.</p>
                <div>
                    <button>Take Test</button>
                </div>
            </ul>
        </li>
        <li>
            <h3>Test name</h3>
            <ul>
                <p>Your grade: --/--</p>
                <p>Created by: teachername</p>
                <p>0 students have taken this test.</p>
                <div>
                    <button>Take Test</button>
                </div>
            </ul>
        </li>
    </ul>

</body>
</html>