<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../static/styles/home.css"> -->
    <title>Teacher Home</title>
</head>
<body>
    <h1>ONLINE TEST MANAGEMENT</h1>

    <div>
        <button onclick="location.href='/'">Log out</button>
        <button onclick="location.href='/home/teachers/accounts'">Accounts</button>
        <button onclick="location.href='/tests/create?username={{username}}'">Create New Test</button>
    </div>

    <h2>TESTS</h2>

    <ul>
        {% for test in tests %}
        <li>
            <h3>{{ test.name }}</h3>
            <ul>
                <p>Created by: {{test.creator}}</p>
                <p>0 students have taken this test.</p>
            </ul>
            <div>
                <button onclick="location.href='/tests/grade?id={{test.id}}'">Enter Grades</button>
                <button onclick="location.href='/tests/edit?id={{test.id}}'">Edit Test</button>
                <form method="POST" action="/home/teachers" style="display: inline;">
                    <input type="hidden" name="delete_test_id" value="{{ test.id }}">
                    <button type="submit">Delete Test</button>
                </form>
            </div>
        </li>
        {% else %}
        {% if tests|length == 0 %}
            <p>No tests to display.</p>
        {% endif %}
        {% endfor %}
    </ul>

</body>
</html>