<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../static/styles/home.css"> -->
    <title>Teacher Home</title>
</head>
<body>
    <h1>ONLINE TEST MANAGEMENT</h1>

    <div>
        <button onclick="location.href='/'">Log out</button>
        <button onclick="location.href='/home/teachers/accounts'">Accounts</button>
        <button onclick="location.href='/tests/create'">Create New Test</button>
    </div>

    <h2>TESTS</h2>

    <ul>
        {% for test in tests %}
        <li>
            <h3>{{test.test_name}}</h3>
            <ul>
                <p>Created by: {{test.creator}}</p>
                <p>0 students have taken this test.</p>
                <div>
                    <button onclick="location.href='/tests/grade?id={{test.test_id}}'">Enter Grades</button>
                    <button onclick="location.href='/tests/edit?id={{test.test_id}}'">Edit Test</button>
                    <button>Delete Test</button>
                </div>
            </ul>
        </li>
        {% endfor %}
    </ul>

</body>
</html>