<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete a Test</title>
    <link rel="stylesheet" href="../static/styles/tests_pages.css">
</head>
<body>
    <div id="main-container">
        <h1>Delete a Test</h1>
        <form>
            <div id="sub-container">
                <label for="test-name">Test name:</label>
                <select name="test-name">
                    <option value=" "> </option>
                    <option value="test-1">Test 1</option>
                    <option value="test-2">Test 2</option>
                    <option value="test-3">Test 3</option>
                </select>
            </div>

            <div id="buttons-container">
                <button type="submit">Delete Test</button>
            </div>
        </form>
    </div>
</body>
</html>