<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viewing Test</title>
    <!-- <link rel="stylesheet" href="../static/styles/tests_pages.css"> -->
</head>
<body>
    <h1>ONLINE TEST MANAGEMENT</h1>

    <button onclick="window.history.back()">Back</button>
    <button>Submit Test</button>

    <h2>TEST NAME</h2>
    <form>
        <label for="test-question-1">Question 1:</label>
        <br>
        <input type="text" id="test-question-1" name="test-question-1">
        <br><br>

        <label for="test-question-2">Question 2:</label>
        <br>
        <input type="text" id="test-question-2" name="test-question-2">
    </form>
</body>
</html>