<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tests Home</title>
    <link rel="stylesheet" href="../static/styles/tests_pages.css">
</head>
<body>
    <div id="main-container">
        <h1>Welcome, name!</h1>
        <div id="sub-container">
            <h2>Tests</h2>
            <ul id="tests-list">
                <li class="test">
                    <h3>Test name</h3>
                    <ul>
                        <p>Created by: teachername</p>
                        <p># students have taken this test.</p>
                    </ul>
                </li>
                <li class="test">
                    <h3>Test name</h3>
                    <ul>
                        <p>Created by: teachername</p>
                        <p># students have taken this test.</p>
                    </ul>
                </li>
            </ul>
        </div>

        <div id="buttons-container">
            <a href="/tests/create">Create a test</a>
            <a href="">Edit a test</a>
            <a href="">Delete a test</a>
        </div>
    </div>
</body>
</html>