#main-container{
    margin: auto;
    width: 50%;
}
#main-container h1{
    margin: 0;
    text-align: center;
}

#tests-container{
    padding: 10px;
    background-color: #a7a7a7;
}
#tests-container h2{
    margin: 0;
    text-align: center;
}
#tests-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#test{
    background-color: #d3d3d3;
}
#test h3{
    margin: 0;
}
#test p{
    margin: 0;
}

#buttons-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 40%;
}